{% extends "base.html" %}

{% block title %}
    {{ recipe.name }}
{% endblock %}

{% block content %}
    <span>Author: {{recipe.author}}</span><br>
    <span>Created on: {{ recipe.created_on }}</span><br>
    <span>Updated on: {{ recipe.updated_on }}</span><br><br>

    {% if recipe_image %}
        <img src="{{ recipe_image.image.url }}" alt="{{ recipe_image.description }}">
    {% endif %}

    <a href="{{ request.path }}/add_image">add image</a>


    <h3>Ingredients:</h3>
    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.quantity }} {{ ingredient.ingredient.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}